
<section ng-controller="homeCtrl">
    <!-- Carousel -->
    <!-- Surround everything with a div with the class carousel slide -->
    <div id="theCarousel" class="carousel slide" data-ride="carousel">

        <!-- Define how many slides to put in the carousel -->
        <ol class="carousel-indicators">
            <li data-target="#theCarousel" data-slide-to="0" class="active"></li >
            <li data-target="#theCarousel" data-slide-to="1"></li>
            <li data-target="#theCarousel" data-slide-to="2"></li>
        </ol >

        <!-- Define the text to place over the image -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="slide1"></div>
                <div class="carousel-caption">
                    <h1 class="carousel-caption-color">Amazing Cake Candles</h1>
                    <p>Candles for all Occasions</p>
                    <!-- <p>
                        <a href="#" class="btn btn-primary btn-sm">Get them Now</a>
                    </p> -->
                </div>
            </div>
            <div class="item">
                <div class="slide2"></div>
                <div class="carousel-caption">
                    <h1 class="carousel-caption-color">Thousands of Colors</h1>
                    <p>Imagine all the Colors</p>
                </div>
            </div>
            <div class="item">
                <div class="slide3"></div>
                <div class="carousel-caption">
                    <h1 class="carousel-caption-color">Amazing Illustrations</h1>
                    <p>And they are not All Free</p>
                </div>
            </div>
        </div>

        <!-- Set the actions to take when the arrows are clicked -->
        <a class="left carousel-control" href="#theCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#theCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <!-- categories and text -->
    <div class="container">
        <div class="row">
            <div class="col-md-3 pad-top">
                <sidebar></sidebar>
            </div>

            <div class="col-md-9 pad-top">
                <div>
                  <img src="../assets/img/party-celebration.jpeg" alt="back-yard-party" class="home-party" />
                  <img src="../assets/img/party-stars.jpeg" alt="" class="home-party" />
                  <img src="../assets/img/party-people.jpeg" alt="" class="home-party" id="pic3" />
                </div>
                <p class="pad-top">
                    Our store is so great!  It's really great.  Like, really,
                    really, really great.  We don't have a very big selection,
                    but what is there, is super great.  Seriously, I don't think
                    you'd be disappointed if you had a looksy.  Go on, give it a
                    go!
                </p>
                <hr/>
                <p>
                    More stuff about how great our store is!  So please buy something?
                    <br/><br/>
                    Studies have shown that people have a birthday at least once
                    a year, and we have birthday party supplies!  We're just what
                    you're looking for.
                </p>
            </div>
        </div>
    </div>
    <!-- end of categories and text -->

    <!-- show product cards -->
    <div class="container pad-top">
        <div class="row">
            <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="product in products">
                <a ui-sref="product({id:product._id})">
                <div class="thumbnail">
                    <img src={{product.image}} alt="">
                    <div class="caption">
                        <h4 class="pull-right">${{product.price}}</h4>
                        <h4>
                            <a ui-sref="#">{{product.title}}</a>
                        </h4>
                        <p>{{product.description}}</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">15 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </div>
              </a>
            </div>
        </div>
    </div>
</section>
