<div class="container">
    <div class="row">

        <div class="col-xs-7 col-md-8 col-sm-8 col-lg-8" ng-repeat="item in cart">
            <!-- this part should prob be a directive... -->

            <!-- only need to test that cart service works -->
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-heading">Cart Item</h3>
              </div>
              <div class="panel-body">
                Product: {{item}}
              </div>
            </div>



          <!-- <a ui-sref="product({id:item.id})">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{item.title}}</h3>
                </div>
                <div class="panel-body">
                    <div class="thumbnail">
                        <img src="{{item.image}}" alt="" />
                    </div>
                    <div>
                      {{item.description}}
                      <br/>
                      ${{item.price}}
                    </div>
                </div>
            </div>
          </a> -->
            <!-- ...end of my above note -->
        </div>

        <div class="col-xs-5 col-md-4 col-sm-4 col-lg-4">
          <div class="panel panel-primary">
              <div id="divTotal" class="panel-heading" data-spy="affix">
                  <h3 class="panel-title">Total</h3>
              </div>
              <div class="panel-body">
                  <h2>$ 100</h2>
              </div>
          </div>

          <div class="text-center">
              <a ui-sref="checkout" class="btn btn-danger">Checkout
                  <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
              </a>
          </div>
        </div>
    </div>
</div>
